@import "./custom";
@import "./variables";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  text-align: center;
}

li {
  list-style: none;
}

p {
  margin-top: 20px;
}

button {
  margin: 10px;
  border-radius: 30%;
  background-color: rgb(189, 157, 218);
}

.main {
  height: 1100px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
  margin-bottom: 50px;
}

.img {
  max-height: 200px;
  width: 100%;
  margin-bottom: 40px;
}

.logo {
  height: 3rem;
}

.hide {
  display: none !important;
}

.eldenRing {
  display: contents;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #d18b23;
  box-shadow: 0 3px 15px;
}

.pagination {
  display: flex;
  padding-left: 30px;
  list-style: none;
  border-radius: 30%;
  margin-top: 60px;
  margin-bottom: 1rem;
}

.flex-item {
  border: 0.5rem;
}

.col-6 {
  max-width: 42%;
  margin-top: 71px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b8b4b1;
  margin-top: 14px;
}

.social {
  display: flex;
  justify-content: space-around;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.social__item img {
  width: 50%;
  height: 50%;
  border-radius: 30%;
}

.video {
  margin-top: 1rem;
}

@media (max-width: 700px) {
  main {
    width: 90%;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 12px;
  }
  h3 {
    font-size: 1.25rem;
  }

  .img-item {
    height: 50%;
  }

  .flex-item-image {
    height: 45%;
  }
}
